.container {
    width: 100%;
}

h2 {
    padding: 0 1rem;
}

.threads {
    border: 0.1rem solid var(--border);
    box-sizing: border-box;
    background: var(--section);
    border-radius: 0.2rem;
    box-shadow: 1px 2px 11px 2px rgb(31, 31, 31);
    margin-bottom: 2rem;
}

.threads > :last-child {
    border-bottom: none;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem 1rem 0;
    margin-left: 1rem;
}

.thread > .info {
    flex: 2;
}

.thread {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 0.1rem solid var(--border);
    cursor: pointer;
}

.brief {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 0 1rem;
    gap: 0.5rem;
    flex: 2;
}

.brief > :first-child {
    margin-right: 0.5rem;
}

.brief > :last-child > :last-child > :first-child {
    font-weight: bold;
    color: var(--secondary);
}

.stats {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 1rem 0;
    gap: 0.5rem;
}

.stats > span, .stats > div {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
    width: fit-content;
}

.stats > div {
    display: flex;
    gap: 0.5rem;
}

.dot {
    min-width: 1.5rem;
    min-height: 1.5rem;
    background: var(--secondary);
    border-radius: 10rem;
    margin: 1rem;
    margin-right: 0;
}

.info > :nth-child(1) {
    margin-bottom: 1rem;
    font-weight: bold;
}

.info > :nth-child(2) {
    color: rgb(113, 128, 150);
}