.options {
    position: relative;
    width: 2.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
}

.options > :first-child {
    font-weight: bold;
    font-size: 1rem;
    justify-content: center;
    width: 100%;
    text-align: center;
    gap: 1rem;
    cursor: pointer;
}

.menu {
    position: absolute;
    right: 0.25rem;
    font-style: normal;
    top: 2.5rem;
    overflow: visible;
    display: flex;
    flex-direction: column;
    min-width: 8rem;
    width: fit-content;
    font-weight: normal;
    border-right: 0.1rem solid var(--textLight);
    border-bottom: 0.1rem solid var(--textLight);
    border-radius: 0.2rem;
}

.sortForm {
    gap: 0;
    margin-bottom: 0;
}

.menu > span, .sortForm > label {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg1);
    color: var(--white);
    z-index: 99;
    line-height: 2rem;
    width: 10rem;
    min-width: 8rem;
    width: fit-content;
    cursor: pointer;
}

.sortForm > label {
    padding: 0 2rem;
    line-height: 2rem;
    width: 10rem;
}

.sortForm > label > input {
    display: none;
}

.arrowUp {
    position: absolute;
    top: -1rem;
    right: 0;
    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid var(--bg1Border);
}

.menu > span:hover, .sortForm > label:hover {
    background: var(--textLight);
}