.wrapper {
    display: flex;
    justify-content: center;
    padding: 4rem 5% 2rem 2%;
    width: 100%;
    flex-grow: 4;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.title {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2em;
    border: 0.1rem solid var(--border);
    box-sizing: border-box;
    background: var(--section);
    border-radius: 0.2rem;
    padding: 1rem;
    margin-bottom: 3rem;
    background: var(--bg2);
    scroll-margin-top: 7rem;
}

@media screen and (max-width: 768px) {

    .wrapper {
        padding: 2rem;
        width: 100%;
    }



    .btn {
        width: 100%;
    }
}