.wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 4rem 2% 2rem 5%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2em;
    border: 0.1rem solid var(--border);
    box-sizing: border-box;
    background: var(--section);
    border-radius: 0.2rem;
    padding: 1rem;
    margin-bottom: 3rem;
    background: var(--bg2);
    scroll-margin-top: 7rem;
}

.title > :nth-child(2) {
    font-size: 1rem;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnWrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {

    .wrapper {
        padding: 2rem;
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .btn {
        width: 100%;
    }
}