.title {
    padding-top: 2rem;
    font-size: 2.5rem;
    font-weight: bolder;
}

.wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 768px) {

    .wrapper {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}