.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #292929;
    padding: 2rem;
    box-shadow: 1px 2px 11px 2px rgb(31, 31, 31);
}

.menuButton {
    display: none;
}

.menu {
    flex: 0.9;
}

@media screen and (max-width: 768px) {
    
    .menu {
        position: absolute;
        padding: 2rem;
        right: 0;
        top: 100%;
        background: #434343;
        width: 14rem;
        border-radius: 1rem;
        transition: 200ms ease-in-out;
        opacity: 0;
    }
    
    .list {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .menuButton {
        visibility: visible;
        display: block;
        cursor: pointer;
    }
}

.list {
    display: flex;
    list-style: none;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.list > li {
    cursor: pointer;
}

.name {
    display: flex;
    font-weight: bold;
}

.name > span > span {
    color: rgb(55, 150, 209);
}