.container {
    width: 70%;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

.subs {
    border: 0.15rem solid white;
    box-sizing: border-box;
    background: #292929;
    border-radius: 0.2rem;
    box-shadow: 1px 2px 11px 2px rgb(31, 31, 31);
    margin-bottom: 5rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    border: 0.15rem solid white;
    box-sizing: border-box;
    background: #292929;
    border-radius: 0.2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.arrow {
    cursor: pointer;
    transition: ease-in-out 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow > svg {
    width: 2rem;
    height: 2rem;
}

.subcategories > :last-child {
    border-bottom: 0;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    cursor: pointer;
}

.subcategory {
    border-bottom:  0.15rem solid white;
}

.info:hover {
    transition: ease-in-out 200ms;
    transform: translateX(1%)
}

.name {
    font-weight: bold;
}