.forums {
    border: 0.1rem solid var(--border);
    box-sizing: border-box;
    background: var(--section);
    border-radius: 0.2rem;
    box-shadow: 1px 2px 11px 2px rgb(31, 31, 31);
    margin-bottom: 3rem;
}

.forums > :last-child {
    border-bottom: 0;
}